{% extends 'base.html.twig' %}

{% block title %}Modification du profile{% endblock %}

{% block body %}
{% if app.user.id == user.id or is_granted("ROLE_SUPER_ADMIN") %}
  <h1 class="text-warning">Bonjour {{ user.civilite ? 'Monsieur' : 'Madame' }} {{ user.nom }} {{ user.prenom }}</h1>
<div class="card border-info mb-3" style="max-width: 50%;">
  <div  style="max-width: 100%;">
    <div class="card-header text-danger">user ID: {{ user.id }}<br>
    </div>
    <div class="card-body text-success">
      <h6 class="card-title">DATE DE NAISSANCE :
        {{ user.dateNaissance ? date().diff(date(user.dateNaissance)).y : '' }} Ans</h6>
      <p class="card-text">ADRESSE : <br>{{ user.adresse }}<br> {{ user.cp }}<br> {{ user.commune }}</p>
      <h6>{{user.email}}</h6>
    </div>
  </div>
  <div>
    <img width="200" height="250" class="img-fluid" src="{{ asset('uploads/' ~  user.photo) }}" alt="{{ user.nom}}"></td>
  </div>
</div>
<div style="display: flex;">
  <a style=" margin-right: 13%; width: 10%" href="{{ path('profile', {'id': user.id}) }}"
    class="btn btn-primary">Modifier</a>
  {{ include('user/_delete_form.html.twig') }}
  {# {% else %}
  <span style="color: red">Vous n'etes autoriser à modifier ou à supprimer à ce contenu..!</span> #}

</div>
</div><br><br>
<div class="example-wrapper">
    <div>
        <h3>Modification du Profile</h3>
        <form name="user" method="post">
            <div id="user">
                <div>
                    <label for="user_email" class="required">Email</label>
                    <input type="email" id="user_email" name="user[email]" required="required" value="{{ user.email }}">
                </div>
                <div>
                    <label for="user_nom" class="required">Nom</label>
                    <input type="text" id="user_nom" name="user[nom]" required="required" value="{{ user.nom }}">
                </div>
                <div>
                    <label for="user_prenom" class="required">Prenom</label>
                    <input type="text" id="user_prenom" name="user[prenom]" required="required" value="{{ user.prenom }}">
                </div>
                <div>
                    <label for="user_civilite" class="required">Civilite</label>
                    <select id="user_civilite" name="user[civilite]" class="selectpicker" value="{{ user.civilite }}">
                        <option value="NO">MONSIEUR</option>
                        <option value="YES">MADAME</option>
                    </select>
                </div>
                <div>
                    <label for="user_dateNaissance" class="required">Date naissance</label>
                    <input type="date" id="user_dateNaissance" name="user[dateNaissance]" required="required" value="{{ user.dateNaissance|date('d-m-Y') }}">
                </div>
                <div>
                    <label for="user_cp" class="required">Cp</label>
                    <input type="text" id="user_cp" name="user[cp]" required="required" value="{{ user.cp }}">
                </div>
                <div>
                    <label for="user_commune" class="required">Commune</label>
                    <select type="text" id="user_commune" name="user[commune]" required="required" value="{{ user.commune }}">

                    </select>
                </div>
                <div>
                    <label for="user_adresse" class="required">Adresse</label>
                    <input list="adresses" type="text" id="user_adresse" name="user[adresse]" required="required" value="{{ user.adresse }}">
                    <datalist id="adresses">

                    </datalist>
                </div>
                <button type="submit" class="btn btn-sucess">Modifier</button>
            </div>
        </form>
    </div>

    <div>
        <h3>Modification du Password</h3>
        <form method="POST">
            <div id="user">
                <label for="user_password" class="required">Password Actuel</label>
                <input type="password" id="passwordActuel" name="passwordActuel" placeholder="votre mot de passe actuel">
                <div>
                    <label for="user_password" class="required">Password</label>
                    <input type="password" id="user_password" name="user[password]" required="required" placeholder="nouveau mot de passe min 8 caractéres">
                </div>
                <div>
                    <label for="user_confirm_password" class="required">Confirm password</label>
                    <input type="password" id="user_confirm_password" name="user[confirm_password]" required="required" placeholder="confirmez votre mot de passe">
                </div>
                <button type="submit" class="btn btn-sucess">Modifier</button>
            </div>
        </form>
    </div>

    <div>
        <h3>Modification de la photo</h3>
        <form name="user" method="post" enctype="multipart/form-data">
            <div id="user">
                <div>
                    <label for="user_brochure">Photo</label>
                    <input type="file" id="user_brochure" name="user[brochure]">
                </div>
                <button type="submit" class="btn btn-sucess">Modifier</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<span style="color: red">Vous n'etes pas autoriser à afficher la page..! Contactez l'Admin. </span>
{% endif %}

{% endblock %}
{% block javascripts %}
{{ parent()}}
<script src="/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{% endblock %}