{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
<h1>Session index</h1>
<div style="display: flex; ">
    <a style="margin-right: 5px;" href="{{ path('session_new') }}"><button>Nouvelle Session</button></a><br>
    <a href="{{ path('session_calendar') }}"><button>Calendrier des Sessions</button></a>
</div>
<div class="headforum">
    <nav class="navbar navbar-inverse">
        <table class="table">
            <thead class="table-active">
                <tr>
                    <th>Libelle</th>
                    <th>Formation</th>
                    <th>StartAt</th>
                    <th>EndAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            {% for session in sessions %}
            <tbody class="table-light">
                <tr>
                    <td><a href="{{ path('session_show', {'id': session.id}) }}">{{ session.libelle }}</a></td>
                    <td><a
                            href="{{ path('formation_show', {'id': session.formation.id}) }}">{{ session.formation.libelle }}</a>
                    </td>

                    <td>{{ session.startAt ? session.startAt|date('d-m-Y') : '' }}</td>
                    <td>{{ session.endAt ? session.endAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('session_show', {'id': session.id}) }}">show</a>
                        <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </nav>
</div>
{% endblock %}