<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Salut Les Amis
        {% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/2/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    {% endblock %}
</head>

<body>
    <div id="page">
        <div id="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href=""><img id="logo" src="{{ asset('img/php.png') }}"
                        alt="CENTRE@FORMATION"></a>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('categorie_index')}}">ACCEUIL</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('formation_index')}}">Nos Formations</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('user_index')}}">Users</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('session_index')}}">Sessions</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('stagiaire_index')}}">Stagiaires</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('module_index')}}">Modules</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="security">
                        {% if not app.user %}
                        <div> <a class="btn1" href="{{path('app_login')}}"><button
                                    class="btn btn-primary">Connexion</button></a></div>
                        {% else %}
                        <div><span style="color: white">Vous etes Connecter:
                                {{ app.user.civilite ? 'Monsieur' : 'Madame' }} </span><a class="user"
                                href="{{path('user_show',{'id': app.user.Id})}}">{{app.user.nom}} </a></div>
                        <div> <a class="btn-deconnexion" href="{{path('user_show',{'id': app.user.Id})}}"><button
                                    class="btn btn-primary">Profile</button></a></div>
                        <div> <a class="btn-deconnexion" href="{{path('app_logout')}}"><button
                                    class="btn btn-primary">Déconnexion</button></a></div>
                        {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
                        <div> <a class="btn1" href="{{path('user_new')}}"><button class="btn btn-primary">Nouveau
                                    Membre</button></a></div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <div id="footer">
            <footer>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <small> Projet CENTRE FORMATION Par Le Stagiaire AIT M'HAMED AHMED &copy;2020</small>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>

    {% endblock %}
</body>

</html>