{% extends 'base.html.twig' %}

{% block title %}Espace index{% endblock %}

{% block body %}
{{dump(espaces)}}
    <h2>Détails de l'espace temps de la formation</h2>
    <h3>
        Formation:
        <small class="text-muted">
        {% for espace in espaces %}
        <a href="{{ path('formation_show', {'id': espaces.formation.id}) }}">{{ espaces.formation.libelle }}</a>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </small>
    </h3>
    <p class="lead">Durée :

        (additionnant les durees de tous les modules + semaine d'integration + semaine d'examen ) Semaines.
        Durées indicatives et ajustables en fonction des besoins des personnes.
        Validation visée :
        Titre professionnel de niveau 4  (bac technique) de comptable assistant/e.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Module</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for espace in espaces %}
            <tr>
                <td><a href="{{ path('module_show', {'id': espace.module.id}) }}"></a>{{ espace.module.libelle}}</td>
                <td>{{ espace.duree }} Semaines</td>
                <td>
                    <a href="{{ path('espace_show', {'id': espace.id}) }}">show</a>
                    <a href="{{ path('espace_edit', {'id': espace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('espace_new') }}">Create new</a>
{% endblock %}
