{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block body %}
{% if is_granted("ROLE_RESPONSABLE") %}
<h1>Personnel</h1>

{% if app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
<a href="{{ path('user_new') }}">Nouveau Membre</a>
{% endif %}

<div class="headforum">
    <nav class="navbar navbar-inverse">
        <table class="table">
            <thead class="table-active">
                <tr>
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Civilite</th>
                    <th>Age</th>
                    <th>Adresse</th>
                    <th>actions</th>
                </tr>
            </thead>
            {% for user in users %}
            {# <pre>
            {{ dump(user.roles) }}
        </pre> #}
            <tbody class="table-light">
                <tr>
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.nom }} {{ user.prenom }}</a></td>
                    <td>
                        {% if user.roles[0] == "ROLE_EMPLOYE"  %}
                        <span style="color: grey">EMPLOYE </span>
                        {% elseif user.roles[0] == "ROLE_SECRITARIAT"  %}
                        <span style="color: goldenrod">SECRETAIRE </span>
                        {% elseif user.roles[0] == "ROLE_FORMATTEUR"  %}
                        <span style="color: green">FORMATEUR </span>
                        {% elseif user.roles[0] == "ROLE_RESPONSABLE"  %}
                        <span style="color: blue"> RESPONSABLE</span>
                        {% elseif user.roles[0] == "ROLE_ADMINISTRATEUR"  %}
                        <span style="color: red">ADMINISTRATEUR </span>
                        {% elseif user.roles[0] == "ROLE_SUPER_ADMIN"  %}
                        <span style="color: brown">SUP_ADMIN </span>
                        {% else %}
                        <span style="color: black">EMPLOYE </span>
                        {# {% else %}
                        {{ user.roles ? role : '' }} #}
                        {% endif %}
                    </td>
                    <td>{{ user.civilite ? 'Monsieur' : 'Madame' }}</td>
                    <td>{{ user.dateNaissance ? date().diff(date(user.dateNaissance)).y : '' }} Ans</td>
                    <td>
                        <p><br>{{ user.adresse }}<br> {{ user.cp }}<br> {{ user.commune }}</p>
                    </td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">profile</a>
                        {% if app.user.id == user.id or app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
                        <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            {% else %}
            <tbody class="table table-striped table-dark">
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </nav>
</div>

{% else %}
<div class="alert alert-danger" role="alert"><span>Vous n'avez pas le droit d'afficher ce contenu, si erreur contacter l'ADMINISTRATEUR</span></div>
{% endif %}
{% endblock %}