{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<h1>Personnel</h1>
<div class="headforum">
    <nav class="navbar navbar-inverse">
        <table class="table">
            <thead class="table-active">
                <tr>
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Civilite</th>
                    <th>DateNaissance</th>
                    <th>Adresse</th>
                    <th>actions</th>
                </tr>
            </thead>
            {% for user in users %}
            {# <pre>
            {{ dump(user.roles) }}
        </pre> #}
            <tbody class="table-light">
                <tr>
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.nom }} {{ user.prenom }}</a></td>
                    <td>
                        {% for role in user.roles %}
                        {# <pre>
                    {{ dump(role) }}
                </pre> #}
                        {% if role == "ROLE_EMPLOYE"  %}
                        <span style="color: grey">EMPLOYE </span>
                        {% elseif role == "ROLE_SECRITARIAT"  %}
                        <span style="color: goldenrod">SECRETAIRE </span>
                        {% elseif role == "ROLE_FORMATTEUR"  %}
                        <span style="color: green">FORMATEUR </span>
                        {% elseif role == "ROLE_RESPONSABLE"  %}
                        <span style="color: blue"> RESPONSABLE</span>
                        {% elseif role == "ROLE_SUPER_ADMIN"  %}
                        <span style="color: red">ADMINISTRATEUR </span>
                        {# {% else %}
                        {{ user.roles ? role : '' }} #}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.civilite ? 'Monsieur' : 'Madame' }}</td>
                    <td>{{ user.dateNaissance ? user.dateNaissance|date('d-m-Y') : '' }}</td>
                    <td>
                        <p><br>{{ user.adresse }}<br> {{ user.cp }}<br> {{ user.commune }}</p>
                    </td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">profile</a>
                        {% if app.user.id == user.id or app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
                        <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            {% else %}
            <tbody class="table table-striped table-dark">
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </nav>
</div>
{% if app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
<a href="{{ path('user_new') }}">Nouveau Membre</a>
{% endif %}
{% endblock %}